.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

/* custom fonts */
@font-face {
	font-family: EvilEmpire;
	src: url('./assets/font/EvilEmpire.otf');
	font-weight: 600;
  }
  
  /* @font-face {
	font-family: AlexBrush;
	src: url('./assets/font/AlexBrush-Regular.ttf');
	font-weight: 1000;
  } */
  
  /************ Custom Font ************/
  @font-face {
	  font-family: Centra;
	  src: url('./assets/font/CentraNo2-Bold.ttf');
	  font-weight: 700;
  }
  @font-face {
	  font-family: Centra;
	  src: url('./assets/font/CentraNo2-Medium.ttf');
	  font-weight: 500;
  }
  @font-face {
	  font-family: Centra;
	  src: url('./assets/font/CentraNo2-Book.ttf');
	  font-weight: 400;
  }
  
  /************ Default Css ************/
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
  }
  
  body {
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	background-color: #01041e !important;
	/* background-image: url('./assets/img/galaxybackground.jpg') !important; */
	color: white !important;
	font-family: 'EvilEmpire', sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
  }
  
  a {
	margin: 0;
	padding: 0;
	line-height: normal;
	text-decoration: none;
	color: goldenrod;
  }
  p, li, button, ul {
	margin: 0;
	padding: 0;
	line-height: normal;
	text-decoration: none;
	/* color: white !important; */
	background-color: rgba(0, 0, 0, 0.8); /* Adjust the last value to change opacity */
  }
  
  
  a:hover {
	text-decoration: none;
  }
  
  img {
	width: 100%;
	height: auto;
  }
  
  button {
	border: 0;
	background-color: transparent;
  }
  
  input:focus, textarea:focus, select:focus {
	outline: none;
  }
  
  @media (min-width:1700px) {
	  main .container {
		  max-width: 100%;
		  padding: 0 150px;
	  }
  }
  
  p.success {
	  color: green;
  }
  
  p.danger {
	  color: red;
  }
  
  hr {
	border: none;
	border-top: 2px solid #c08124; /* Change this color to your desired color */
  }
  
  
  
  /************ Navbar Css ************/
  /* Update the Navbar CSS */
  nav.navbar {
	padding: 18px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	transition: 0.25s ease-in-out;
	display: flex;
	align-items: center; /* Align items vertically */
	justify-content: space-between; /* Distribute space between items */
  }
  nav.navbar.scrolled {
	padding: 0px 0;
	background-color: #121212;
  }
  nav.navbar .navbar-brand {
	  width: auto;
  }
  
  nav.navbar .navbar-nav {
	  display: flex;
	  align-items: center; /* Align items vertically */
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
	font-weight: 400;
	color: #fff !important;
	letter-spacing: 0.8px;
	padding: 0 15px; /* Adjust the padding as needed */
	font-size: 18px;
	opacity: 0.75;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link:hover,
  nav.navbar .navbar-nav .nav-link.navbar-link.active {
	  opacity: 1;
  }
  span.navbar-text {
	  display: flex;
	  align-items: center; /* Align items vertically */
  }
  .social-icon {
	  display: flex; /* Use flex to align icons horizontally */
	  margin-left: 14px;
  }
  .social-icon a {
	  width: 75px;
	  height: 75px;
	  background: rgba(217, 217, 217, 0.1);
	  display: inline-flex;
	  border-radius: 50%;
	  margin-right: 6px;
	  align-items: center;
	  justify-content: center;
	  line-height: 1;
	  border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .social-icon a::before {
	  content: "";
	  width: 75px;
	  height: 75px;
	  position: absolute;
	  background-color: white;
	  border-radius: 50%;
	  transform: scale(0);
	  transition: 0.3s ease-in-out;
  }
  .social-icon a:hover::before {
	  transform: scale(1);
  }
  .social-icon a img {
	  width: 40%;
	  z-index: 1;
	  transition: 0.3s ease-in-out;
  }
  .social-icon a:hover img {
	  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
  .navbar-text button {
	font-weight: 700;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px; /* Adjust the padding as needed */
	font-size: 16px; /* Adjust the font size as needed */
	margin-left: 18px;
	  position: relative;
	  background-color: transparent;
	  transition: 0.3s ease-in-out;
  }
  .navbar-text button span {
	z-index: 1;
  }
  .navbar-text button::before {
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	left: 0;
	top: 0;
	z-index: -1;
	transition: 0.3s ease-in-out;
  }
  .navbar-text button:hover {
	color: #121212;
  }
  .navbar-text button:hover::before {
	  content: "";
	  width: 100%;
	  height: 100%;
	  position: absolute;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
	  outline: none;
	  box-shadow: none;
  }
  .navbar-toggler-icon {
	  width: 24px;
	  height: 17px;
	  background-image: none;
	  position: relative;
	  /* border-bottom: 2px solid #fff; */
	  transition: all 300ms linear;
	  top: 0px;
  }
  .navbar-toggler-icon:focus {
	  border-bottom: 2px solid #fff;
  }
  .navbar-toggler-icon:after,
  .navbar-toggler-icon:before {
	  width: 24px;
	  position: absolute;
	  height: 2px;
	  background-color: #fff;
	  top: 0;
	  left: 0;
	  content: '';
	  z-index: 2;
	  transition: all 300ms linear;
  }
  .navbar-toggler-icon:after {
	  top: 8px;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	  transform: rotate(45deg);
	  background-color: #fff;
	  height: 2px;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	  transform: translateY(8px) rotate(-45deg);
	  background-color: #fff;
	  height: 2px;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	  border-color: transparent;
  }
  
  /* Add this to your App.css or a specific CSS file */
  .navbar-brand img {
	width: 150px; /* Adjust the width as needed */
	height: auto; /* Maintain the aspect ratio */
  }
  
  /************ Banner Css ************/
  .banner {
	margin-top: -70px;
	padding: 200px 0 100px 0;
	background-image: url('./assets/img/shortgalaxybackground.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
  }
  .banner .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 8px 30px;
	/* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
	background: linear-gradient(90.21deg, rgba(29, 29, 58, 0.5) -5.91%, rgba(10, 13, 82, 0.5) 111.58%);
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 40px;
	margin-bottom: 16px;
	display: inline-block;
	font-family: 'Centra', sans-serif !important;
  }
  .banner h1 {
	font-size: 65px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1;
	margin-bottom: 20px;
	display: block;
	font-family: 'Centra', sans-serif !important;
  }
  .banner p {
	color: #B8B8B8;
	font-size: 18px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	width: 96%;
	font-family: 'Centra', sans-serif !important;
  }
  .banner button {
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	margin-top: 60px;
	letter-spacing: 0.8px;
	display: flex;
	align-items: center;
	font-family: 'Centra', sans-serif !important;
  }
  .banner button svg {
	font-size: 25px;
	margin-left: 10px;
	transition: 0.3s ease-in-out;
	line-height: 1;
  }
  .banner button:hover svg {
	margin-left: 25px;
  }
  .banner img {
	animation: updown 10s linear infinite;
	border-radius: 50%;
	width: 70%;
	height: 70%;
  }
  @keyframes updown {
	  0% {
		  transform: translateY(-20px);
	  }
	  50% {
		  transform: translateY(20px);
	  }
	  100% {
		  transform: translateY(-20px);
	  }
  }
  .txt-rotate > .wrap {
	border-right: 0.08em solid #666;
  }
  
/* Education CSS */

.education {
	margin-top: 0px;
	padding: 50px 0 100px 0;
	background-image: url('./assets/img/shortgalaxybackground.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Centra', sans-serif !important;
  }
  
  .education .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 8px 30px;
	/* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
	background: linear-gradient(90.21deg, rgba(29, 29, 58, 0.5) -5.91%, rgba(10, 13, 82, 0.5) 111.58%);
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 40px;
	margin-bottom: 16px;
	display: inline-block;
	font-family: 'Centra', sans-serif !important;
  }
  
  .education h2 {
	font-size: 2.5em;
	margin-top: 20px;
	padding: 5px;
	font-family: 'Centra', sans-serif !important;
  }
  
  .education p {
	font-size: 1.7em;
	line-height: 1.5;
	margin-top: 10px;
	font-family: 'Centra', sans-serif !important;
  }
  
  .education hr {
	border: 10;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
	margin: 20px 0;
  }
  




  /************ Skills Css ************/
  .skill {
	padding: 0 0 0 0;
	position: relative;
	background-image: url('./assets/img/shortgalaxybackground.jpg');
  	margin-top: -275px;
	background-position-x: center;
	background-position-y: center;
	/* background-repeat: repeat-x; */
	background-size: cover;
	font-family: 'Centra', sans-serif !important;
  }
  .skill-bx-background {
	border-radius: 20px;
	/* background-image: url('./assets/img/shortgalaxybackground.jpg'); */
	background: linear-gradient(0deg, rgba(28, 28, 28, 0.437) -5.91%, rgba(85, 85, 85, 0.514) 111.58%);
	text-align: center;
	padding: 10px 10px;
	margin-top: -60px;
	margin-bottom: 60px;
	/* background-repeat: no-repeat; */
	
  }
  .skill-bx-background .item {
	/* background-image: url('./assets/img/shortgalaxybackground.jpg'); */
	background: linear-gradient(0deg, rgba(28, 28, 28, 0.348) -5.91%, rgba(85, 85, 85, 0.586) 111.58%);
  }
  .item img {
	height: 100px;
	width: fit-content;
	max-width: 100%;
	max-height: 40%;
	transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for hover effect */
  }

  .item img:hover {
	transform: scale(1.1) rotate(10deg); /* Scale up and rotate */
	filter: brightness(1.2); /* Increase brightness on hover */
  }
  
  .skill h2 {
	font-size: 45px;
	font-weight: 700;
	opacity: 100%;
  }
  .skill h4 {
	font-size: 30px;
	font-weight: 600;
	margin-top: 10px;
	opacity: 100%;
	/* background-color: goldenrod; */
  }
  .skill p {
	color: #000000;
	font-size: 18px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	margin: 14px 0 75px 0;
	opacity: 100%;
	background-color: rgb(255, 230, 4) !important;
  }
  .skill-slider {
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 20px 0;
	opacity: 100%;
	/* background-color: rgb(255, 230, 4) !important; */
  }
  .skill-slider .item {
	padding: 20px;
	text-align: center;
	opacity: 100%;
	height: fit-content;
	/* background-color: goldenrod !important; */
  }
  .skill-slider .item h5 {
	font-size: 20px;
	margin-top: 10px;
	opacity: 100%;
  }

  .item img {
	height: 100px;
	max-width: 40%;
	max-height: 40%;
  }
  .skill .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 8px 30px;
	/* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
	background: linear-gradient(90.21deg, rgba(29, 29, 58, 0.651) -5.91%, rgba(10, 12, 82, 0.705) 111.58%);
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 40px;
	margin-bottom: 16px;
	display: inline-block;
	opacity: 100%;
  }
  
  .background-image-left {
	top: 28%;
	bottom: 0;
	width: 40%;
	z-index: -4;
	opacity: 100%;
	
  }

  .carousel-control-prev, .carousel-control-next {
	top: 50%;
	transform: translateY(-50%);
	width: 5%;
	opacity: 100%;
  }
  .carousel-control-prev {
	left: -10%; /* Move the button further left */
  }
  
  .carousel-control-next {
	right: -10%; /* Move the button further right */
  }

  canvas {
    width: 100vh;
    height: 90vh;
    /* background-color: black; */
    background-image: url('./assets/img/shortgalaxybackground.jpg');
    
  }
  

/************ Projects Css ************/
.project {
	padding: 50px 0;
	position: relative;
	background-color: black;
	background-image: url('./assets//img/shortgalaxybackground.jpg');
	margin-top: 0px;
	font-family: 'Centra', sans-serif !important;
  }
  .project em{
	color:white;
	font-family: 'Centra', sans-serif !important;
  }
  .project h2 {
	  font-size: 45px;
	  font-weight: 700;
		text-align: center;
		font-family: 'Centra', sans-serif !important;
  }
  .project p {
	color: #B8B8B8;
	font-size: 18px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	margin: 14px auto 30px auto;
	text-align: center;
	width: 56%;
  }
  .project .nav.nav-pills {
	width: 72%;
	margin: 0 auto;
	border-radius: 50px;
	background-color: rgb(255 255 255 / 10%);
	overflow: hidden;
  }
  .project .nav.nav-pills .nav-item {
	width: 33.33333%;
  }
  .project .nav.nav-pills .nav-link {
	background-color: transparent;
	border-radius: 0;
	padding: 17px 0;
	color: #fff;
	width: 100%;
	font-size: 17px;
	letter-spacing: 0.8px;
	font-weight: 500;
	position: relative;
	transition: 0.3s ease-in-out;
	text-align: center;
	z-index: 0;
  }
  .project .nav.nav-pills .nav-link::before {
	  content: "";
	  position: absolute;
	  width: 0;
	  height: 100%;
	  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
	  top: 0;
	  left: 0;
	  z-index: -1;
	  transition: 0.3s ease-in-out;
  }
  .project .nav.nav-pills .nav-link.active::before {
	  width: 100% !important;
  }
  .project .nav.nav-pills .nav-link.active {
	  border: 1px solid rgba(255, 255, 255, 1);
  }
  .nav-link#projects-tabs-tab-first {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 55px 0px 0px 55px;
  }
  .nav-link#projects-tabs-tab-second {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-third {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 0 55px 55px 0;
  }
  .proj-imgbx {
	position: relative;
	border-radius: 24px;
	overflow: hidden;
	margin-bottom: 24px;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  /* Styling for the project images */
  .proj-imgbx img {
	max-width: 100%;
	max-height: 90%;
	/* height: auto; */
	width: fit-content;
	/* object-fit: contain; Ensure the image fits within the container without cropping */
	border-radius: 10px; /* Match the border-radius of the container */
  }

  .proj-imgbx::before {
	content: "";
	background: linear-gradient(90.21deg, #010f49 -5.91%, #000000 111.58%);
	opacity: 0.85;
	position: absolute;
	width: 100%;
	height: 0;
	transition: 0.4s ease-in-out;
  }
  .proj-imgbx:hover::before {
	height: 100%;
  }
  .proj-txtx {
	position: absolute;
	text-align: center;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s ease-in-out;
	opacity: 0;
	width: 100%;
	color: white;
  }
  .proj-imgbx:hover .proj-txtx {
	top: 50%;
	left: 50%;
	opacity: 1;
	/* color: white; */
  }
  .proj-txtx h4 {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1.1em;
	align-items: center;
	justify-content: center;
	padding: 10px;
  }
  .proj-txtx span {
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.8px;
  }
  .background-image-right {
	top: 20%;
	position: absolute;
	bottom: 0;
	width: 35%;
	right: 0;
	z-index: -4;
  }
  
  .project .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 8px 30px;
	/* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
	background: linear-gradient(90.21deg, rgba(29, 29, 58, 0.5) -5.91%, rgba(10, 13, 82, 0.5) 111.58%);
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 40px;
	margin-bottom: 16px;
	display: inline-block;
	opacity: 100%;
  }
  /************ Projects Css ************/

/************ Extracurricularss Css ************/
.extracurriculars {
	padding: 50px 0;
	position: relative;
	background-color: black;
	background-image: url('./assets//img/shortgalaxybackground.jpg');
	margin-top: 0px;
	font-family: 'Centra', sans-serif !important;
  }
  .extracurriculars h2 {
	  font-size: 45px;
	  font-weight: 700;
	text-align: center;
	font-family: 'Centra', sans-serif !important;
  }
  .extracurriculars p {
	color: #B8B8B8;
	font-size: 18px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	margin: 14px auto 30px auto;
	text-align: center;
	width: 100%;
	font-family: 'Centra', sans-serif !important;
  }
  .extracurriculars .nav.nav-pills {
	width: 72%;
	margin: 0 auto;
	border-radius: 50px;
	background-color: rgb(255 255 255 / 10%);
	overflow: hidden;
  }
  .extracurriculars .nav.nav-pills .nav-item {
	width: 50%;
  }
  .extracurriculars .nav.nav-pills .nav-link {
	background-color: transparent;
	border-radius: 0;
	padding: 17px 0;
	color: #fff;
	width: 100%;
	font-size: 17px;
	letter-spacing: 0.8px;
	font-weight: 500;
	position: relative;
	transition: 0.3s ease-in-out;
	text-align: center;
	z-index: 0;
  }
  .extracurriculars .nav.nav-pills .nav-link::before {
	  content: "";
	  position: absolute;
	  width: 0;
	  height: 100%;
	  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
	  top: 0;
	  left: 0;
	  z-index: -1;
	  transition: 0.3s ease-in-out;
  }
  .extracurriculars .nav.nav-pills .nav-link.active::before {
	  width: 100% !important;
  }
  .extracurriculars .nav.nav-pills .nav-link.active {
	  border: 1px solid rgba(255, 255, 255, 1);
  }
  .nav-link#projects-tabs-tab-first {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 55px 0px 0px 55px;
  }
  .nav-link#projects-tabs-tab-second {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-third {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 0 55px 55px 0;
  }
  .extra-imgbx {
	position: relative;
	border-radius: 24px;
	overflow: hidden;
	margin-bottom: 24px;
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  /* Styling for the project images */
  .extra-imgbx img {
	max-width: 100%;
	max-height: 90%;
	/* height: auto; */
	width: fit-content;
	/* object-fit: contain; Ensure the image fits within the container without cropping */
	border-radius: 10px; /* Match the border-radius of the container */
  }

  .extra-imgbx::before {
	content: "";
	background: linear-gradient(90.21deg, #010f49 -5.91%, #000000 111.58%);
	opacity: 0.85;
	position: absolute;
	width: 70%;
	height: 0;
	transition: 0.4s ease-in-out;
  }
  .extra-imgbx:hover::before {
	height: 100%;
  }
  .extra-txtx {
	position: absolute;
	text-align: center;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s ease-in-out;
	opacity: 0;
	width: 50%;
	color: white;
  }
  .extra-imgbx:hover .extra-txtx {
	top: 50%;
	left: 50%;
	opacity: 1;
	/* color: white; */
  }
  .extra-txtx h4 {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1.1em;
	align-items: center;
	justify-content: center;
	padding: 10px;
  }
  .extra-txtx span {
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.8px;
  }
  .background-image-right {
	top: 20%;
	position: absolute;
	bottom: 0;
	width: 35%;
	right: 0;
	z-index: -4;
  }
  
  .extracurriculars .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 8px 30px;
	/* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
	background: linear-gradient(90.21deg, rgba(29, 29, 58, 0.5) -5.91%, rgba(10, 13, 82, 0.5) 111.58%);
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 40px;
	margin-bottom: 16px;
	display: inline-block;
	opacity: 100%;
  }

/* footer css */

.footer {
	padding: 10px 0;
	position: relative;
	/* background-color: black !important; */
	background-image: url('./assets//img/shortgalaxybackgroundflipped.jpg');
	margin-top: 0px;
	display: flex;
	align-items: center; /* Align items vertically */
	justify-content: center; /* Center items horizontally */
	filter: brightness(1.2);
}

.footer .contact-icons {
	text-align: center;
}

.footer .social-icon {
	display: flex;
	justify-content: center;
	padding: 0 50px 0 50px;
	gap: 25px;
}

.footer .social-icon img {
	width: 35px;
}